extends _page

block head
    title Help Desk Stand
    script window.urlPrefix = 'http://' + location.hostname + ':1314/blog/api'

block body
    blog_app
<<<<<<< HEAD
    script(src="js/main.js", type="text/javascript")
=======
    script(src="js/main.js", type="text/javascript")
>>>>>>> f43271ae15ad2ebae7df3477ee5d78cb0c4cd822
